@model FellowshipLib.Person

@{
	ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary()

@if (Model != null)
{
<fieldset>
	<legend>@Model.Prefix @Model.FirstName @Model.MiddleName @Model.LastName @Model.Suffix</legend>
	<div class="display-label">Goes By</div>
	<div class="display-field">@Model.GoesBy</div>
	<div class="display-label">Last Updated</div>
	<div class="display-field">@Model.LastUpdatedDate</div>
	<div class="display-label">Date of Birth</div>
	<div class="display-field">@Model.DateOfBirth</div>
	<div class="display-label">Occupation</div>
	<div class="display-field">@(Model.Occupation != null ? Model.Occupation.Name : string.Empty)</div>
	<div class="display-footer">
	View @Html.ActionLink("Household", "Details", "Household", new { id = Model.HouseholdID }, new { }) |
	@Html.ActionLink("Addresses", "Addresses", "People", new { id = Model.Id }, new { }) |
	@Html.ActionLink("Communications", "Communications", "People", new { id = Model.Id }, new { })
	</div>
</fieldset>
}