@model FellowshipLib.PersonSearchResults

@{
	ViewBag.Title = "Find People";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Search", "People", FormMethod.Get, new { id = "search" }))
{
<label for="name" title="Find Users with Name" >Name:</label>
<input type="text" name="name" value="@Model.SearchName" />
<input id="search" type="submit" value="Search" />
}

@if (Model != null)
{
	if (Model.Count == 0)
	{
	<div class="message">
	@Html.Partial("NoPeopleFound", Model)
	</div>
	}
	else
	{	
	<div class="results">
	@Html.Partial("SearchResults", Model)
	</div>
	}
}