@model FellowshipLib.PersonSearchResults


@Html.Partial("PeopleListing", Model)

@using (Html.BeginForm("Search", "People", FormMethod.Get))
{
	<div class="tableFooter">
			Page

		@if (Model.PageNumber > 1)
  {
			@Html.ActionLink("Previous", "Search", new { name = Model.SearchName, pageNumber = Model.PageNumber - 1 })
  }
		<input type="text" name="pageNumber" value="@Model.PageNumber" /> of @Model.TotalPages()
		<input type="hidden" name="maxPageNumber" value="@Model.TotalPages()" />
		@if (Model.PageNumber < Model.TotalPages())
  {
			@Html.ActionLink("Next", "Search", new { name = Model.SearchName, pageNumber = Model.PageNumber + 1 })
  }
	</div>
}