@model IEnumerable<FellowshipLib.Person>

@{
	ViewBag.Title = "PeopleSearch";
}

<h2>PeopleSearch</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	<tr>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
		</td>
		<td>
			@item.LastName
		</td>
		<td>
			@item.FirstName
		</td>
	</tr>
}

</table>

